body {
  background-color: blueviolet;
}

.navbar a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.active {
  border: 2px solid white;
  padding: 5px;
  background-color: transparent;
}
